<%- include('partials/header') -%>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>

<body class=" flex flex-col min-h-screen">

  <main class="flex-1">

<h1 class="text-center mt-20 my-10 mx-5 xs:text-2xl md:text-5xl  font-bold text-neutral">Welcome To Your Account Page</h1>

    <div class="flex justify-center mx-auto text-center container">
      <div class="row ">
        <div class="col-6">

          <div class="avatar placeholder">
            <div class="bg-neutral-focus text-neutral-content rounded-full w-24  mb-7">
              <span class="text-md"><%= user.belief %></span>
            </div>
          </div>

          <div class="profile">
            <div class="divider"></div>
            <p class="mb-3 "><strong>Username</strong></p>
            <h3><%= user.userName %></h3>
    
            <div class="divider"></div>
            <p class="mb-3"><strong>Email</strong></p>
            <h3><%= user.email %></h3>
    
            <div class="divider"></div>
            <p class="mb-3"><strong>My Belief System</strong></p>
            <h3><%= user.belief %></h3>
    
            <div class="divider"></div>
            <p class="mb-3"><strong>My Struggle</strong></p>
            <h3><%= user.disorders %></h3>
    
            <div class="divider"></div>
            <a href="/logout" class="col-3 btn  btn-ghost xs:btn-sm md:btn-md ring-4 ring-primary ring-offset-4 ring-offset-base-100  " id="logoutButton">Logout</a>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Assuming you have a logout button -->
<script>
  document.getElementById('logoutButton').addEventListener('click', function () {
    // Clear the local storage when the user logs out
    localStorage.removeItem('hasModalBeenShown');
    // Add any other logout logic here
  });
</script>


    </main>
    
    </body>

    <div class="mt-20">
<%- include('partials/footer') -%>
</div>
